/* Variable definitions
=======================
<Variable name="keycolor" description="Main Color" type="color" default="#1e87f0" value="#1e87f0"/>
<Variable name="body.background" description="Background" type="background" color="#ffffff" default="$(color) url() repeat scroll top right" value="$(color) url() repeat scroll top right"/>

<Group description="Main Settings" selector="body">
  <Variable name="main.color" description="Main Theme Color" type="color" default="#000" value="#000000"/>
  <Variable name="main.dark.color" description="Main Dark Color" type="color" default="#202020" value="#202020"/>
  <Variable name="main.bb.color" description="Borders and Buttons Color" type="color" default="#272727" value="#272727"/>
  <Variable name="main.text.color" description="Main Text Color" type="color" default="$(main.dark.color)" value="#1c1c1c"/>
  <Variable name="body.font" description="Main Font" type="font" default="normal normal 14px Droid Arabic Kufi,Roboto" value="normal normal 14px Droid Arabic Kufi,Roboto"/>
</Group>
======================= 
*/

/* Reset and Variable Apply Here */
a,abbr,acronym,address,applet,b,big,blockquote,body,caption,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,kbd,label,legend,li,object,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,u,ul,var{padding:0;border:0;outline:0;vertical-align:baseline;background:0 0}
ins{text-decoration:underline}
del{text-decoration:line-through}
blockquote{font-size:15px;line-height:1.5em;font-style:italic;color:$(main.text.color)}
dl,ul{list-style-position:inside;font-weight:700;list-style:none}
ul li{list-style:none}
caption,th{text-align:center}
img{border:none;position:relative}
a,a:visited{text-decoration:none}
.clear{clear:both}
.section,.widget,.widget ul{margin:0;padding:0}
a{color:$(main.color)}
a:hover{color:$(main.color)}
:focus{outline:0}
a img{border:0}
brc{color:#bdbdbd}
.CSS_LIGHTBOX{z-index:999999!important}
.separator a{clear:none!important;float:none!important;margin-right:0!important;margin-left:0!important}
#navbar-iframe{display:none;height:0;visibility:hidden}
.widget-item-control,a.quickedit{display:none!important}
.archive .home-link,.index .home-link,.home-link{display:none!important}
*{outline:0;transition:all .3s ease;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease}
:after,:before{transition:all .0s ease;-webkit-transition:all .0s ease;-moz-transition:all .0s ease;-o-transition:all .0s ease}
.status-msg-wrap{margin:0 auto 25px;font-size:11px}
.status-msg-border{border:1px solid #eee;opacity:.7;border-radius:2px}
.status-msg-bg{background-color:#f8f8f8;opacity:1;filter:none}
.feed-links{clear:both;display:none;line-height:2.5em}

/* Body */
body{background:$(body.background);font:$(body.font);color:#4f4f4f;word-wrap:break-word;margin:0;padding:0}
#outer-wrapper{max-width:1140px;margin:0 auto 20px;background-color:#FFF;}
.row{width:1140px}
#content-wrapper{overflow:hidden;padding-right: 10px; padding-left: 10px;}
.item #content-wrapper,.static_page #content-wrapper{margin:30px auto}
#main-wrapper{float:right;overflow:hidden;width:68%;word-wrap:break-word}
#sidebar-wrapper{float:left;overflow:hidden;width:32%;padding-right:2%;box-sizing:border-box;word-wrap:break-word;padding-bottom:20px}
#main-wrapper #main {margin-left:2%;}
.index #main-wrapper,.archive #main-wrapper{margin-top:10px;}
.home #main-wrapper{margin-top:0}
#topnav{width:100%;background-color:#171616;margin:0;    height: 40px;}
.tm-head{margin:0 auto;line-height:40px;overflow:hidden}
.tm-menu{float:right}
#nav1 li{float:right;display:inline-block;height:40px;line-height:40px;margin-left:15px;padding:0}
#nav1 li a{color:#ffffff;font-size:11px;font-weight:500;}
#nav1 li a:hover{color:$(main.color)}
.selectnav{display:none;background-color:$(main.bb.color);padding:2px 5px;box-sizing:border-box;border:0;}
select{background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;}
.social-area{float:left}
.tm-head #social-top{position:relative;display:block;margin-left:0}
.tm-head #social-top ul{overflow:hidden}
.tm-head #social-top ul li{height:32px;line-height:32px;display:block;float:right;margin-right:5px;padding:0}
.tm-head #social-top ul li a{display:block;float:right;color:#ffffff;text-decoration:none;font-size:14px;text-align:center;line-height:40px;padding:0 7px}
.tm-head #social-top ul li a:before{display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.tm-head #social-top ul li a:hover{color:$(main.color)}
#social-top .facebook:before{content:"\f09a"}
#social-top .twitter:before{content:"\f099"}
#social-top .gplus:before{content:"\f0d5"}
#social-top .rss:before{content:"\f09e"}
#social-top .youtube:before{content:"\f167"}
#social-top .skype:before{content:"\f17e"}
#social-top .stumbleupon:before{content:"\f1a4"}
#social-top .tumblr:before{content:"\f173"}
#social-top .vine:before{content:"\f1ca"}
#social-top .stack-overflow:before{content:"\f16c"}
#social-top .linkedin:before{content:"\f0e1"}
#social-top .dribbble:before{content:"\f17d"}
#social-top .soundcloud:before{content:"\f1be"}
#social-top .behance:before{content:"\f1b4"}
#social-top .digg:before{content:"\f1a6"}
#social-top .instagram:before{content:"\f16d"}
#social-top .pinterest:before{content:"\f0d2"}
#social-top .delicious:before{content:"\f1a5"}
#social-top .codepen:before{content:"\f1cb"}
#header-blog{height: 90px; position: relative; overflow: hidden; padding: 5px 0; background-color: #202020; padding-right: 5px; padding-left: 5px; }
.header-content{margin:0 auto;overflow:hidden;height:90px}
.header-logo{float:right;width:260px;max-height:60px;margin:0px 0 0;padding-right: 15px;}
.header-logo img{max-width:100%;height:auto;margin:0}
.Header h1{color:$(main.text.color);margin:0;font-size:20px;line-height:1.3em}
.header-ads{float:left;width:728px;height:90px;padding-left: 40px;}
#menu{display:none}
#main-nav{background-color:$(main.dark.color);position:relative;width:100%;max-width:1140px;height:48px;font-size:12px;margin:0 auto}
.header-menu{background-color:$(main.dark.color);height:48px;margin:0 auto;position:relative;padding:0}
li.li-home{display:inline-block;position:relative;float:right;height:48px;box-sizing:border-box;padding:0;border-left:1px solid $(main.bb.color);    background: $(main.color);}
li.li-home a{float:right;color:#F2F2F2;padding:0 20px;line-height:51px;font-weight:700;color: #fff;}
li.li-home:hover{background-color:$(main.color)}
li.li-home:hover a{color:#fff}
#main-nav ul li{position:relative;float:right;height:48px;box-sizing:border-box;padding:0;border-left:1px solid $(main.bb.color)}
#main-nav ul li a{float:right;color:#F2F2F2;padding:0 20px;line-height:51px;font-weight:700;}
#main-nav ul li:hover{background-color:$(main.color)}
#main-nav ul li:hover a{color:#000}
#main-nav ul li.has-children a{padding-left:28px}
#main-nav ul li.has-children a:after{content:"\f067";font-family:FontAwesome;font-size:8px;font-weight:400;position:absolute;top:0;left:14px}
#main-nav ul li ul{display:none;position:absolute;right:0;top:48px;z-index:100;background-color:$(main.dark.color);border-top:0;box-shadow:0 1px 3px rgba(40,35,40,0.05);transition:all 0s ease;-webkit-transition:all 0s ease;-moz-transition:all 0s ease;-o-transition:all 0s ease}
#main-nav ul li ul li{height:auto;margin-right:0;display:block;float:none;position:relative;overflow:hidden;line-height:normal;padding:0;border-left:0;border-bottom:1px solid $(main.bb.color)}
#main-nav ul li ul li:last-child{border-bottom:0}
#main-nav ul li ul li a{min-width:180px;color:#F2F2F2;font-size:10px;font-weight:500;height:34px;line-height:34px;overflow:hidden;box-sizing:border-box;padding:0 16px!important;margin-top:0;border:0;transition:all .3s ease!important;-webkit-transition:all .3s ease!important;-moz-transition:all .3s ease!important;-o-transition:all .3s ease!important}
#main-nav ul li:hover ul li a{color:#F2F2F2}
#main-nav ul li ul li a:after{display:none}
#main-nav ul li ul li a:hover{background-color:$(main.color);color:#fff!important;padding-right:20px!important}
@keyframes slideInDown {
from{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:visible}
to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
#search-icon{position:absolute;left:0;top:0;display:block;line-height:48px;height:48px;width:48px;color:#F2F2F2;font-size:16px;padding:0;text-align:center;cursor:pointer;border-right:1px solid $(main.bb.color)}
#search-icon:hover{background-color:$(main.color);color:#fff}
#nav-search{position:absolute;left:0;top:48px;z-index:50;display:none;width:300px;height:54px;background-color:$(main.bb.color);border:0;border-top:0;border-radius:0;transition:all 0s ease;-webkit-transition:all 0s ease;-moz-transition:all 0s ease;-o-transition:all 0s ease;box-sizing:border-box}
#nav-search #searchform{width:100%;position:relative;margin:10px 0;padding:0 10px;box-sizing:border-box;height:34px;overflow:hidden;border-radius:0}
#nav-search #s{width:100%;box-sizing:border-box;position:relative;height:34px;float:right;padding:0 10px;margin:0;border:0;background-color:rgba(255,255,255,0.05);font-size:12px;font-family:inherit;color:#F2F2F2;border-radius:0}
#nav-search #s:focus{color:#F2F2F2;outline:none}
.featured{position:relative;margin:0 auto}
.featured .widget-content{margin:0px 0 0!important;height:auto;overflow:hidden}
.featured h2{display:none}
.featured .feat-align{float:right;width:33.333333%;padding-left:1px;box-sizing:border-box}
.featured .hot-item{width:100%;height:199px;position:relative;float:right;display:block;box-sizing:border-box;overflow:hidden;padding:0}
.featured .feat-column1 .item1{height:399px;    background: #D84E1A;}
.featured .feat-column1 .item1 .rcp-thumb{height:403px}
.featured .feat-column2 .item3{margin-top:1px;    background: #227B96;}

.featured .feat-column2 .item2{    background: #7D2DA7;}
.featured .feat-column4 {padding-left: 0;}
.featured .feat-column4 .item4{    background: #28943A;}
.featured .feat-column4 .item5{margin-top:1px;    background: #CA9215;}
.featured .hot-item .featured-inner{position:relative;overflow:hidden}
.featured .rcp-thumb{width:100%;height:199px;position:relative;display:block;overflow:hidden;    opacity: 0.3 !important;}
.featured .rcp-title{font-size:16px;position:relative;margin-bottom:8px}
.featured .rcp-thumb:after{content:no-close-quote;position:absolute;right:0;bottom:0;width:100%;height:135px;background:url(http://3.bp.blogspot.com/-LnvazGBvKh8/VskckSkmzxI/AAAAAAAAC4s/erEgI6A_ih4/s1600-r/metabg.png) repeat-x;opacity:.8;background-size:100% 100%;overflow:hidden}
.item3 .rcp-thumb:after{content:no-close-quote;height:190px}
.featured .post-panel{position:absolute;right:0;bottom:0;width:100%;padding:15px;z-index:2;box-sizing:border-box}
.featured .hot-item .featured-inner .featured-meta{font-size:12px;color:#ccc;font-weight:400}
.featured .rcp-title a{color:#FFF;font-weight:500;position:relative;line-height:1.4em;text-shadow:0 1px 1px rgba(0,0,0,0.5)}
.featured .post-tag{position:absolute;top:15px;right:15px;background-color:$(main.color);color:#000;font-weight:400;z-index:5;height:20px;line-height:20px;padding:0 6px;font-size:11px}
.featured{position:relative}
.featured-overlay{position:absolute;right:0;top:0;z-index:1;width:100%;height:100%;background-color:rgba(40,35,40,0.05)}
.featured .hot-item:hover .featured-overlay{background-color:rgba(40,35,40,0.30)}
.recent-boxes{overflow:hidden;position:relative}
.box-sec{margin-left:2%}
.box-sec h2{display:none}
.recent-boxes .box-sec .widget:last-child{margin-bottom:20px}
.box-title,.posts-title{position:relative;clear:both;z-index:1;margin-bottom:10px;line-height:33px}
.box-title h2.title,.posts-title h2.title{display:inline-block;position:relative;background-color:#fff;color:$(main.text.color);font-size:15px;font-weight:700;z-index:1;margin:0;padding-left:15px;    padding-right: 25px;}
.sidebar .widget h2:before,.box-title h2.title:before, .posts-title h2.title:before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: #EA0253;
    right: 0;
    top: 49%;
    -webkit-transform: translateY(-49%);
    -ms-transform: translateY(-49%);
    transform: translateY(-49%);
    z-index: 5;
}

.sidebar .widget h2:before, .box-title h2.title:before:nth-child(1), .posts-title h2.title:before:nth-child(1){background-color: #66297e;}


.social-count-plus ul {
    border: none !important;
    list-style: none !important;
    margin: 0;
    padding: 0;
}
.social-count-plus li {
    background: none !important;
    border: none !important;
    clear: none !important;
    float: right;
    list-style: none !important;
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    width: 60px;
}

.social-count-plus .flat li {
    margin-left: 7px;
    width: 31.22%;
    background: #9a9a9a!important;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 7px;
}

.social-count-plus .flat li.count-twitter {
    background: #2181c3!important;
}

.social-count-plus .flat .count-twitter a {
    background-position: 0px 0 !important;
}

.social-count-plus .flat a {
    background-image: url(https://4.bp.blogspot.com/-X7NN6bB_BE0/WIpygw0-5vI/AAAAAAAAJmw/PJhnRCS3dz8oaKuiq-yFPGsNJ2N1tPfdACLcB/s1600/sprite-flat.png) !important;
    height: 32px !important;
    width: 32px !important;
}

.social-count-plus a {
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    display: block;
    margin: 0 auto;
    opacity: 1;
    padding: 0 !important;
}


.social-count-plus span {
    display: block;
    margin: 0;
    padding: 0;
}

.social-count-plus .count {
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    margin: 5px 0 0;
    padding: 0;
}

.social-count-plus .label {
    font-size: 9px;
    font-weight: normal;
    line-height: 16px;
    text-transform: capitalize;
}

.social-count-plus .flat li.count-facebook {
    background: #345897!important;
}

.social-count-plus .flat .count-facebook a {
    background-position: -32px 0 !important;
}

.social-count-plus .flat a {
    background-image: url(https://4.bp.blogspot.com/-X7NN6bB_BE0/WIpygw0-5vI/AAAAAAAAJmw/PJhnRCS3dz8oaKuiq-yFPGsNJ2N1tPfdACLcB/s1600/sprite-flat.png) !important;
    height: 32px !important;
    width: 32px !important;
}

.social-count-plus .flat li.count-googleplus {
    background: #ec4b3d!important;
}
.social-count-plus .flat .count-googleplus a {
    background-position: -96px 0 !important;
}
.social-count-plus .flat a {
    background-image: url(https://4.bp.blogspot.com/-X7NN6bB_BE0/WIpygw0-5vI/AAAAAAAAJmw/PJhnRCS3dz8oaKuiq-yFPGsNJ2N1tPfdACLcB/s1600/sprite-flat.png) !important;
    height: 32px !important;
    width: 32px !important;
}


.social-count-plus:after {
    content: "";
    display: table;
    clear: both;
}

.social-count-plus a:hover {
    opacity: 0.7;
}


.box-title h2.title a,.posts-title h2.title a{color:$(main.text.color)}
.box-title:after,.posts-title:after{content:"";position:absolute;z-index:0;top:12px;right:0;width:99%;    border: 4px double #eee;}
.recent-boxes .widget{margin-bottom:30px}
.boxes .bx-first .box-thumbnail{position:relative;width:100%;height:343px}
.boxes .bf-thumb{width:100%;height:343px;position:relative;display:block}
.box-thumbnail{overflow:hidden}
.boxes ul li .box-thumbnail{width:90px;height:70px;display:table-cell;vertical-align:middle}
.boxes ul li .box-image{width:90px;height:70px;position:relative;display:block}
.bx-first .box-thumbnail .first-tag{position:absolute;top:15px;right:15px;z-index:2}
.bx-first .box-thumbnail .first-tag a{background:$(main.color);color:#fff;height:20px;line-height:20px;display:inline-block;padding:0 6px;font-size:11px;font-weight:400}
.boxes ul li .recent-content{display:table-cell;padding-right:15px;padding-left:5px}
.boxes .recent-title a:hover{color:$(main.color)}
.recent-boxes .fbox,.recent-boxes .videos{width:100%;float:right}
.fbox .bx-first{width:50%;position:relative;float:right;padding-left:1.4%;box-sizing:border-box;overflow:hidden}
.fbox .bx-item{width:100%;position:relative;overflow:hidden}
.fbox .bx-first .bf-content{position:absolute;bottom:0;width:100%;z-index:2;padding:15px;box-sizing:border-box}
.fbox .bx-first .bf-content .recent-title a{display:block;font-size:18px;color:#fff;font-weight:500;line-height:1.5em;text-shadow:0 .5px .5px rgba(34,34,34,0.3);margin-bottom:8px}
.fbox li .recent-content .recent-title{overflow:hidden;line-height:0;margin:0 0 3px;padding:0}
.fbox li .recent-content .recent-title a{color:$(main.text.color);font-weight:500;font-size:14px;line-height:1.5em}
.boxes ul li .recent-content .recent-title a:hover{color:$(main.color)}
.bx-first .bf-thumb:after{content:no-close-quote;position:absolute;right:0;bottom:0;width:100%;height:151px;background:url(http://3.bp.blogspot.com/-LnvazGBvKh8/VskckSkmzxI/AAAAAAAAC4s/erEgI6A_ih4/s1600-r/metabg.png) repeat-x;opacity:.8}
.bf-content .recent-date{color:#ccc}
.fbox ul li{display:block;width:48.6%;float:left;margin:0 0 10px;padding:0 0 10px;border-bottom:1px dotted #f5f5f5}
.fbox ul li:last-child{margin-bottom:0;padding-bottom:0;border-bottom:0}
.img-overlay{position:absolute;right:0;top:0;z-index:1;width:100%;height:100%;background-color:rgba(40,35,40,0.05)}
.tk-thumb a:hover .img-overlay,.boxes ul li .box-image:hover .img-overlay,.boxes .bx-first:hover .img-overlay,.custom-widget .rcthumb:hover .img-overlay,.PopularPosts .item-thumbnail:hover a .img-overlay,.map-thumb:hover .img-overlay{background-color:rgba(40,35,40,0.3)}
.videos .recent-title a{display:block;font-size:18px;color:$(main.text.color);font-weight:500;line-height:1.5em;margin-bottom:5px}
.videos .recent-title a:hover{color:$(main.color)}
.videos ul{position:relative;overflow:hidden}
.videos ul li{width:50%;float:right;box-sizing:border-box;margin:0;padding:0 5px 0 0}
.videos ul li:nth-child(2){padding:0 0 0 5px}
.videos ul li .videos-item{width:100%;position:relative;display:block;overflow:hidden;padding:0}
.videos .box-image{width:100%;height:220px;display:block;position:relative;margin:0;padding:0}
.videos .box-image:before{content:"\f04b";font-family:FontAwesome;line-height:54px;width:54px;height:54px;font-size:20px;color:#fff;text-align:center;background-color:RGBA(0,0,0,0.4);font-weight:400;position:absolute;top:50%;left:50%;margin-top:-27px;margin-left:-27px;opacity:.5;z-index:2;padding:0;border:2px solid #fff;border-radius:50%;transition:all .3s ease}
.videos li:hover .box-image:before{opacity:1}
.videos .recent-content{width:100%;z-index:2;padding:10px 10px 0 0;text-align:right;box-sizing:border-box;position:relative}
.videos-overlay{position:absolute;right:0;top:0;z-index:1;width:100%;height:100%;background-color:rgba(40,35,40,0.0)}
.videos li:hover .videos-overlay{background:rgba(40,35,40,0.3)}
.recent-boxes .carousel{position:relative;margin:0 0 25px!important;padding:0;overflow:visible;height:auto;display:block;clear:both}
.main-carousel{overflow:hidden}
.carousel-item{padding:0!important;position:relative;overflow:hidden;list-style:none}
.carousel-thumb{width:100%;height:250px;position:relative;display:block}
.carousel-item .box-image{width:100%;height:250px;position:relative;display:block}
.carousel-item .box-image:after{content:no-close-quote;position:absolute;right:0;bottom:0;width:100%;height:171px;background:url(http://3.bp.blogspot.com/-LnvazGBvKh8/VskckSkmzxI/AAAAAAAAC4s/erEgI6A_ih4/s1600-r/metabg.png) repeat-x;background-size:100% 100%;opacity:.8}
.carousel-content{position:absolute;bottom:0;width:100%;z-index:2;box-sizing:border-box;padding:15px;text-align:right}
.carousel-item .recent-title{margin:10px 0 3px;font-size:16px;font-weight:500}
.carousel-item .recent-title a{color:#fff;display:inline-block;line-height:1.4em;text-shadow:0 .5px .5px rgba(34,34,34,0.3)}
.carousel-item .recent-date{color:#ccc}
.carousel-tag a{display:inline-block;background-color:$(main.color);color:#fff;height:20px;line-height:20px;padding:0 6px;font-size:11px}
.carousel-overlay{position:absolute;right:0;top:0;z-index:1;width:100%;height:250px;background-color:rgba(40,35,40,0.05)}
.main-carousel .owl-item:hover .carousel-overlay{background-color:rgba(40,35,40,0.30)}
.main-carousel .owl-prev,.main-carousel .owl-next{margin-top:0;width:40px;height:40px;font-size:25px;line-height:40px}
.main-carousel .owl-prev{right:-50px}
.main-carousel:hover .owl-prev{right:0}
.main-carousel .owl-next{left:-50px}
.main-carousel:hover .owl-next{left:-1px}
.main-carousel .owl-dots{bottom:10px}
.recent-date{color:#bdbdbd;font-size:12px;font-weight:400}
.recent-date:before,.featured-date:before{content:'\f017';font-family:fontawesome;margin-left:5px}
.owl-carousel .animated{-webkit-animation-duration:1000ms;animation-duration:1000ms;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.owl-carousel .owl-animated-in{z-index:0}
.owl-carousel .owl-animated-out{z-index:1}
.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}
@-webkit-keyframes fadeOut {
0%{opacity:1}
100%{opacity:0}
}
@keyframes fadeOut {
0%{opacity:1}
100%{opacity:0}
}
.owl-height{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out}
.owl-carousel{display:none;width:100%;-webkit-tap-highlight-color:transparent;position:relative;z-index:1;direction:ltr;}
.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y}
.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0px,0px,0px)}
.owl-carousel .owl-controls .owl-nav .owl-prev,.owl-carousel .owl-controls .owl-nav .owl-next,.owl-carousel .owl-controls .owl-dot{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.owl-carousel.owl-loaded{display:block}
.owl-carousel.owl-loading{opacity:0;display:block}
.owl-carousel.owl-hidden{opacity:0}
.owl-carousel .owl-refresh .owl-item{display:none}
.owl-carousel .owl-item{position:relative;min-height:1px;float:right;-webkit-backface-visibility:visible;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.owl-carousel .owl-item img{display:block;width:100%;-webkit-transform-style:preserve-3d;transform-style:preserve-3d}
.owl-carousel.owl-text-select-on .owl-item{-webkit-user-select:auto;-moz-user-select:auto;-ms-user-select:auto;user-select:auto}
.owl-carousel .owl-grab{cursor:move;cursor:-webkit-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab}
.owl-carousel.owl-rtl{direction:rtl}
.owl-carousel.owl-rtl .owl-item{float:left}
.no-js .owl-carousel{display:block}
.owl-prev,.owl-next{top:0;color:$(main.text.color);background-color:rgba(255,255,255,0.8);font-family:FontAwesome;position:absolute;z-index:1;display:block;padding:0;cursor:pointer;padding:0;text-align:center;overflow:hidden}
.owl-prev{right:0}
.owl-prev:before{content:"\f105"}
.owl-next{left:0}
.owl-next:before{content:"\f104"}
.owl-prev:hover,.owl-next:hover{background-color:rgba(23,23,23,0.9);color:#f2f2f2}
.owl-dots{position:absolute;bottom:1px;width:33.33%;right:0;left:0;margin:auto;text-align:center}
.owl-dot{background:#fff;height:3px;width:10px;display:inline-block;margin:0 5px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;opacity:.6}
.owl-dot.active,.owl-dot:hover{background:$(main.color)}
.custom-widget li{overflow:hidden;padding:10px 0;border-top:1px dotted #f5f5f5}
.custom-widget .rcthumb{position:relative;float:right;margin:0!important;width:90px;height:70px;overflow:hidden;display:block;vertical-align:middle}
.custom-widget .post-panel{padding-right:15px;display:table-cell}
.custom-widget .rcp-title{overflow:hidden;line-height:0;margin:0 0 3px;padding:0}
.custom-widget .rcp-title a{color:$(main.text.color);font-weight:500;font-size:13px;line-height:1.5em}
.custom-widget .rcp-title a:hover{color:$(main.color)}
.cmm-widget li .cmm-avatar{position:relative;overflow:hidden;padding:0;width:55px;height:55px;float:right;margin:0 0 0 10px}
.cmm-widget li{background:none!important;clear:both;list-style:none;word-break:break-all;display:block;border-top:1px dotted #F5F5F5;overflow:hidden;margin:0;padding:10px 0}
.cmm-widget li:first-child{padding-top:0;border-top:0}
.cmm-widget li:last-child{padding-bottom:0}
.cmm-widget li span{margin-top:4px;color:#bdbdbd;display:block;line-height:1.2em;text-transform:lowercase;font-size:12px;font-style:italic;font-weight:400}
.cmm-img{width:55px;height:55px;float:right;margin:0 0 0 10px}
.cmm-widget a{color:$(main.text.color);position:relative;font-size:14px;font-weight:500;display:block;overflow:hidden}
.cmm-widget a:hover{color:$(main.color)}
.cmm-widget{list-style:none;padding:0}
.home-ad .widget{padding-left:2%}
.home-ad .widget-content{width:728px;max-height:90px;padding:0;margin:0 auto 15px;max-width:100%;box-sizing:border-box}
.header-ads h2,#ads-home h2,#post-ads-footer h2{display:none!important}
.posts-title{margin-left:2%}
.post{display:block;overflow:hidden;word-wrap:break-word}
.index .post,.archive .post{margin:0 0 15px;padding-bottom:15px;border-bottom:1px dotted #f5f5f5}
.index div.post-outer:last-child .post,.archive div.post-outer:last-child .post{padding-bottom:5px;border-bottom:0}
.block-image{position:relative;float:right;width:290px;height:190px;margin-left:20px}
.block-image .thumb{width:100%;height:190px;position:relative;display:block;z-index:2;overflow:hidden}
.block-image .thumb a{width:100%;height:190px;display:block}
.thumb-overlay{position:absolute;right:0;top:0;z-index:2;width:100%;height:100%;background-color:rgba(40,35,40,0.05)}
.block-image:hover .thumb a .thumb-overlay,.related-posts .related-item:hover .related-thumb a .thumb-overlay{background-color:rgba(40,35,40,0.30)}
.retitle h2{margin:8px 0;display:block}
.post h2 a,.post h2 a:visited,.post h2 strong{color:$(main.text.color);font-size:19px;line-height:1.5em;font-weight:500;text-decoration:none}
.post h2 a:hover{color:$(main.color)}
.widget iframe,.widget img{max-width:100%}
.index .post-footer,.archive .post-footer{display:none!important}
.index .post h2,.archive .post h2{margin:0 0 8px;padding:0 0 0 10px;overflow:hidden}
.item .post,.static_page .post{padding:0}
.date-header{display:block;overflow:hidden;font-weight:400;margin:0!important;padding:0}
#meta-post{font-size:12px;color:#bdbdbd;line-height:1.4em}
#meta-post a{color:#bdbdbd}
#meta-post .timestamp-link{margin-right:0}
#meta-post .timestamp-link abbr:before{content:'\f017';font-family:fontawesome;color:#bdbdbd;margin-left:5px}
.resumo{margin-top:10px;font-size:13px;color:#919191;line-height:1.5em}
.resumo span{display:block;margin-bottom:8px;padding-left:10px;font-family:Droid Arabic Naskh,Roboto}
a.read-more{display:inline-block;margin-bottom:0;font-weight:500;text-align:right;vertical-align:middle;cursor:pointer;background-image:none;white-space:nowrap;line-height:25px;height:25px;color:#fff;background-color:#000;border-radius:0;font-size:11px;padding:0 10px;margin-top:3px;outline:none;border:none;overflow:hidden;    border-right: 6px solid $(main.color);}
.post-meta{color:#bdbdbd;display:block;font-size:12px;font-weight:400;line-height:21px;margin:0;padding:0}
.postags{position:absolute;top:15px;right:15px;z-index:3}
.postags a{display:inline-block;display:none;background:$(main.color);color:#fff;margin:0;height:20px;line-height:20px;padding:0 6px;font-size:11px;}
.postags a:first-child{display:inline-block}
.breadcrumbs{display:none;margin:0;font-size:0}
.item article,.static_page article{margin-top:15px}
.item .post-head,.static_page .post-head{position:relative;margin:2px 0 5px}
.item .post-title,.static_page .post-title{color:$(main.text.color);font-size:20px;line-height:1.5em;font-weight:700;position:relative;display:inline-block;padding:0;margin:0}
.item .post-body,.static_page .post-body{width:100%;color:#000000;font-size:14px;line-height:1.5em;overflow:hidden}
.item .post-outer{padding:0}
.item .post-body img{max-width:100%}
.post-meta a{color:#bdbdbd}
.post-timestamp{margin-right:0}
.label-head{margin-right:0}
.label-head a{padding-right:2px}
.label-head a:hover{color:$(main.color)}
.post-meta .g-profile span:before{content:'\f007';font-family:fontawesome;color:#bdbdbd;margin-left:5px}
.post-meta .post-timestamp{margin-right:10px}
.post-meta .post-timestamp .timestamp-link abbr:before{content:'\f017';font-family:fontawesome;color:#bdbdbd;margin-left:5px}
.post-meta .label-head{margin-right:10px}
.post-meta .label-head:before{content:'\f07c';font-family:fontawesome;color:#bdbdbd;margin-left:0}
.main .widget{margin:0}
.main .Blog{border-bottom-width:0}

.share-art{position:relative;display:block;overflow:hidden;margin:20px 0;padding:15px 0;border-top:1px dotted #f0f0f0;border-bottom:1px dotted #f0f0f0}
.sa-title{display:block;float:right;height:30px;line-height:30px;margin:8px 0 8px 15px;padding:0}
.sa-title strong{font-size:16px;display:block}
.share-art a{float:right;font-size:12px;line-height:30px;color:#fff;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;margin:8px 3px;padding:0 20px;height:30px;min-width:30px;text-align:center}
.share-art a:hover{background-color:#222;color:#fff}
.share-art a i.fa{margin-left:7px;font-size:12px}
.share-art .facebook{background-color:#003471}
.share-art .twitter{background-color:#00BFF3}
.share-art .googleplus{background-color:#EA4D29}
.share-art .pinterest{background-color:#C6393D}
.share-art .linkedin{background-color:#0077B5}
#related-wrap{margin-bottom:20px}
.related-title{position:relative;clear:both;z-index:1;margin:5px 0 10px;line-height:33px}
.related-title h2{display:inline-block;position:relative;background-color:#fff;color:$(main.text.color);font-size:16px;font-weight:700;z-index:1;margin:0;padding-left:15px}
.related-title:after{content:"";position:absolute;z-index:0;top:12px;right:0;width:100%;   border: 4px double #eee;}
.related-posts{position:relative;overflow:hidden;margin:0;padding:0}
.related-posts .related-item{width:33.33%;height:180px;position:relative;overflow:hidden;float:right;display:block;box-sizing:border-box;margin:0;padding:0 2.5px}
.related-posts li:first-child{padding-right:0}
.related-posts li:nth-child(3){padding-left:0}
.related-posts .related-item .related-img{width:100%;height:180px;position:relative;display:block}
.related-posts .related-item .related-img:after{content:no-close-quote;position:absolute;right:0;bottom:0;width:100%;height:120px;background:url(http://3.bp.blogspot.com/-LnvazGBvKh8/VskckSkmzxI/AAAAAAAAC4s/erEgI6A_ih4/s1600-r/metabg.png) repeat-x;background-size:100% 100%;opacity:.8}
.related-overlay{position:absolute;right:0;top:0;z-index:1;width:100%;height:100%;background-color:rgba(40,35,40,0.05)}
.related-posts .related-item:hover .related-overlay{background-color:rgba(40,35,40,0.30)}
.related-content{position:absolute;bottom:0;padding:15px 15px 11px;width:100%;line-height:1.2em;box-sizing:border-box;z-index:2}
.related-posts .related-tag{position:absolute;top:15px;right:15px;background-color:$(main.color);color:#fff;font-weight:400;z-index:5;height:20px;line-height:20px;padding:0 6px;font-size:11px}
.related-posts h3 a{font-size:14px;line-height:1.4em;padding:10px 0 4px;font-weight:500;color:#fff;display:block;text-shadow:0 .5px .5px rgba(34,34,34,0.3)}
.related-posts .related-item .recent-date{color:#ccc}
.featured .post-tag:hover,.carousel-tag a:hover,.bx-first .box-thumbnail .first-tag a:hover,.post-readmore a:hover,.postags a:hover,a.read-more:hover,.related-tag:hover{background:$(main.dark.color)}
.ib-nav li{padding:0;display:inline-block;width:50%}
.ib-nav li strong{display:block;padding:0 0 5px;font-weight:700;font-size:13px}
.ib-nav li strong i{transition:all 0s ease;-webkit-transition:all 0s ease;-moz-transition:all 0s ease;-o-transition:all 0s ease}
ul.ib-nav{background-color:#FFF;display:block;width:100%;position:relative;overflow:hidden;margin-bottom:15px;border-bottom:2px solid #f5f5f5;border-top:2px solid #f5f5f5}
.ib-nav li a{color:$(main.text.color);line-height:1.3em;display:block;padding:15px 0;transition:all 0s ease;-webkit-transition:all 0s ease;-moz-transition:all 0s ease;-o-transition:all 0s ease}
.ib-nav li:hover a{opacity:.6}
ul.ib-nav span{font-size:13px;font-weight:400}
.ib-nav .previous{float:right;min-height:80px;border-left:1px solid #f5f5f5;box-sizing:border-box;padding-left:10px}
.ib-nav .next{text-align:left;border-right:1px solid #f5f5f5;margin-right:-1px;padding-right:10px;box-sizing:border-box}
#blog-pager{clear:both;text-align:center;margin:0}
.index #blog-pager{display:block}
.index #blog-pager,.archive #blog-pager{padding:0 0 20px;text-align:right}
#blog-pager-newer-link a,#blog-pager-older-link a{display:block;float:right;margin-left:0;padding:0 12px;border:0;line-height:32px;font-weight:400;background-color:$(main.dark.color);color:#fff;font-size:12px}
#blog-pager-newer-link a:hover,#blog-pager-older-link a:hover{background-color:$(main.color)}
.showpageNum a,.showpage a,.showpagePoint{display:block;float:right;margin-left:6px;padding:0 12px;background:$(main.dark.color);color:#fff;border:0;line-height:32px;font-weight:500;border-radius:0}
.showpageNum a:hover,.showpage a:hover{background-color:$(main.color)}
.showpageNum a i,.showpage a i{transition:all 0s ease;-webkit-transition:all 0s ease;-moz-transition:all 0s ease;-o-transition:all 0s ease}
.showpagePoint{background-color:$(main.color);color:#fff}
.showpageOf{display:none!important}
.comments-title{position:relative;clear:both;z-index:1;margin:0;line-height:33px}
.comments-title h2{display:inline-block;position:relative;background-color:#fff;color:$(main.text.color);font-size:16px;font-weight:700;z-index:1;margin:0;padding-left:15px}
.comments-title:after{content:"";position:absolute;z-index:0;top:11px;right:0;width:100%;    border: 4px double #eee;}
.blogger-tab{display:block}
.comments{clear:both;margin:0;color:$(main.text.color)}
.comments h4{font-weight:400;font-size:12px;font-style:italic;padding-top:1px}
.comments .comments-content{margin:0;padding:0}
.comments .comments-content .comment{margin-bottom:0;padding-bottom:8px}
.comments .comments-content .comment:first-child{padding-top:0}
.facebook-tab,.fb_iframe_widget_fluid span,.fb_iframe_widget iframe{width:100%!important}
.comments .item-control{position:static}
.comments .avatar-image-container{float:right;overflow:hidden;position:absolute}
.comments .avatar-image-container,.comments .avatar-image-container img{height:45px;max-height:45px;width:45px;max-width:45px;border-radius:0}
.comments .comment-block{overflow:hidden;padding:0 0 10px}
.comments .comment-block,.comments .comments-content .comment-replies{margin-right:60px;margin-top:0}
.comments .comments-content .inline-thread{padding:0}
.comments .comment-actions{float:right;width:100%;position:relative;margin:0}
.comments .comments-content .comment-header{font-size:14px;display:block;overflow:hidden;clear:both;margin:0 0 3px;padding:0 0 5px;border-bottom:1px dotted #f5f5f5}
.comments .comments-content .user{font-style:normal;font-weight:500;display:block;font-size:16px}
.comments .comments-content .icon.blog-author{display:none}
.comments .comments-content .comment-content{float:right;text-align:right;font-size:13px;line-height:1.4em;color:#656565}
.comments .comment .comment-actions a{margin-left:5px;padding:2px 5px;color:$(main.text.color);font-weight:400;background-color:#f5f5f5;font-size:10px}
.comments .comment .comment-actions a:hover{color:#fff;background-color:$(main.color);text-decoration:none}
.comments .comments-content .datetime{color:#999;float:right;font-size:11px;position:relative;font-style:italic;margin:2px 0 0;display:block}
.comments .comments-content .datetime:before{content:'\f017';font-family:fontawesome;font-style:normal;margin-left:3px}
.comments .comments-content .comment-header a{color:inherit}
.comments .comments-content .comment-header a:hover{color:$(main.color)}
.comments .thread-toggle{margin-bottom:4px}
.comments .thread-toggle .thread-arrow{height:7px;margin:0 3px 2px 0}
.comments .thread-expanded{padding:8px 0 0}
.comments .comments-content .comment-thread{margin:0}
.comments .continue a{padding:0 0 0 60px;font-weight:400}
.comments .comments-content .loadmore.loaded{margin:0;padding:0}
.comments .comment-replybox-thread{margin:0}
iframe.blogger-iframe-colorize,iframe.blogger-comment-from-post{height:283px!important}
.post-body h1,.post-body h2,.post-body h3,.post-body h4,.post-body h5,.post-body h6{color:$(main.text.color);margin-bottom:15px}
blockquote{margin:0;padding:0 20px}
blockquote:before{content:'\f10d';display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;margin-left:10px;color:$(main.text.color)}
blockquote:after{content:'\f10e';display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;margin-right:10px;color:$(main.text.color)}
.widget .post-body ul,.widget .post-body ol{line-height:1.5;font-weight:400}
.widget .post-body li{margin:5px 0;padding:0;line-height:1.5}
.post-body ul li:before{content:"\f0da";margin-left:5px;font-family:fontawesome}
#sidebar-wrapper .widget{padding:0;background:#FFF;margin-bottom:30px;overflow:hidden}
.sidebar .widget .title-wrap{position:relative;z-index:1;margin-bottom:10px;line-height:33px}
.sidebar .widget h2{display:inline-block;position:relative;background-color:#fff;color:$(main.text.color);font-size:15px;font-weight:700;z-index:1;margin:0 0 10px;padding-left:15px;padding-right: 25px;}
.sidebar .widget .title-wrap h2{margin:0}
.sidebar .widget .title-wrap:after{content:"";position:absolute;z-index:0;top:12px;right:0;width:100%;    border: 4px double #eee;}
.sidebar ul{list-style:none}
.sidebar .widget-content{margin:0}
.list-label-widget-content li{display:block;padding:8px 0;border-bottom:1px dotted #F5F5F5;position:relative}
.list-label-widget-content li:first-child{padding:0 0 8px}
.list-label-widget-content li:last-child{padding-bottom:0;border-bottom:0}
.list-label-widget-content li a:before{content:'\203a';position:absolute;right:0;top:4px;font-size:22px;color:$(main.text.color)}
.list-label-widget-content li:first-child a:before{top:-5px}
.list-label-widget-content li a{color:$(main.text.color);font-size:12px;padding-right:15px;font-weight:500}
.list-label-widget-content li a:hover{color:$(main.color)}
.list-label-widget-content li span:last-child{color:#999;font-size:12px;font-weight:500;position:absolute;top:11px;left:0}
.list-label-widget-content li:first-child span:last-child{top:3px}
.cloud-label-widget-content{text-align:right}
.cloud-label-widget-content .label-count{background:$(main.color);color:#fff!important;margin-right:-3px;white-space:nowrap;border-radius:0;padding:1px 4px!important;font-size:12px!important;margin-left:5px}
.cloud-label-widget-content .label-size{border: 1px solid #eee;display:block;float:right;font-size:11px;margin:0 0 5px 5px}
.cloud-label-widget-content .label-size a,.cloud-label-widget-content .label-size span{height:18px!important;color:$(main.text.color);display:inline-block;font-size:12px;font-weight:500!important;padding:6px 8px}
.cloud-label-widget-content .label-size a{padding:6px 10px}
.cloud-label-widget-content .label-size a:hover{color:#fff!important}
.cloud-label-widget-content .label-size,.cloud-label-widget-content .label-count{height:30px!important;line-height:19px!important}
.cloud-label-widget-content .label-size:hover{background:$(main.color);color:#fff!important}
.cloud-label-widget-content .label-size:hover a{color:#fff!important}
.cloud-label-widget-content .label-size:hover span{background:$(main.dark.color);color:#fff!important;cursor:pointer}
.cloud-label-widget-content .label-size-1,.label-size-2,.label-size-3,.label-size-4,.label-size-5{font-size:100%;opacity:10}
.label-size-1,.label-size-2{opacity:100}
.FollowByEmail td{width:100%;float:right;box-sizing:border-box}
.FollowByEmail .follow-by-email-inner .follow-by-email-submit{margin-right:0;width:100%;border-radius:0;height:30px;font-size:11px;color:#fff;background-color:$(main.color);font-family:inherit;font-weight:700;}
.FollowByEmail .follow-by-email-inner .follow-by-email-submit:hover{background-color:$(main.bb.color)}
.FollowByEmail .follow-by-email-inner .follow-by-email-address{padding-right:10px;height:30px;border:1px solid #FFF;margin-bottom:5px;box-sizing:border-box;font-size:11px;font-family:inherit}
.FollowByEmail .follow-by-email-inner .follow-by-email-address:focus{border:1px solid #FFF}
.FollowByEmail .widget-content{background-color:$(main.dark.color);box-sizing:border-box;padding:10px}
.FollowByEmail .widget-content:before{content:"ضع بريدك الالكترونى للاشتراك فى الموقع ليصلك جديد مواضيع المدونة على بريدك الالكترونى";font-size:11px;color:#f2f2f2;line-height:1.4em;margin-bottom:5px;display:block;padding:0 2px}
.flickr_widget .flickr_badge_image{float:right;margin-bottom:5px;margin-left:10px;overflow:hidden;display:inline-block}
.flickr_widget .flickr_badge_image:nth-of-type(4),.flickr_widget .flickr_badge_image:nth-of-type(8),.flickr_widget .flickr_badge_image:nth-of-type(12){margin-left:0}
.flickr_widget .flickr_badge_image img{max-width:67px;height:auto}
.flickr_widget .flickr_badge_image img:hover{opacity:.5}
#ArchiveList select{border:1px solid $(main.dark.color);padding:6px 8px;width:100%;cursor:pointer;font-family:inherit;font-size:12px;color:$(main.text.color)}
.PopularPosts .item-thumbnail{margin:0 0 0 15px!important;width:90px;height:70px;float:right;overflow:hidden}
.PopularPosts .item-thumbnail a{position:relative;display:block;overflow:hidden;line-height:0}
.PopularPosts ul li img{padding:0;width:90px;height:70px}
.PopularPosts .widget-content ul li{overflow:hidden;padding:10px 0;border-top:1px dotted #f5f5f5}
.sidebar .PopularPosts .widget-content ul li:first-child,.sidebar .custom-widget li:first-child{padding-top:0;border-top:0}
.sidebar .PopularPosts .widget-content ul li:last-child,.sidebar .custom-widget li:last-child{padding-bottom:0}
.PopularPosts ul li a{color:$(main.text.color);font-weight:500;font-size:14px;line-height:1.5em}
.PopularPosts ul li a:hover{color:$(main.color)}
.PopularPosts .item-title{margin:0;padding:0;line-height:0}
.item-snippet{display:none;font-size:0;padding-top:0}
.contact-form-name,.contact-form-email,.contact-form-email-message,.contact-form-widget{max-width:none;margin-bottom:0;padding:0}
.contact-form-name,.contact-form-email,.contact-form-email-message{background-color:#f3f3f3;border:0}
.contact-form-button-submit{max-width:none;width:100%;height:30px;border:0;background-image:none;background-color:$(main.color);cursor:pointer;font-family:inherit;font-style:normal;font-weight:700;border-radius:0!important}
.contact-form-name:focus,.contact-form-email:focus,.contact-form-email-message:focus{border:0;box-shadow:none}
.contact-form-name:hover,.contact-form-email:hover,.contact-form-email-message:hover{border:0}
.contact-form-button-submit:hover{background-color:$(main.dark.color);background-image:none;border:0}
#footer-wrapper{background-color:$(main.dark.color)}
#footer{overflow:hidden;margin:0 auto;padding:0}
.sect-right{display:inline-block;float:right;width:32%;margin-left:2%}
.sect-right:nth-child(3){margin-left:0}
.sect-right .widget{padding:20px 0}
.sect-right .widget:nth-of-type(2){padding-top:0}
.sect-right .widget .title-wrap{position:relative;z-index:1;margin-bottom:10px;line-height:33px}
.sect-right .widget h2{display:inline-block;position:relative;background-color:$(main.dark.color);color:#F2F2F2;font-size:14px;font-weight:700;z-index:1;margin:0 0 10px;padding-left:15px}
.sect-right .widget .title-wrap h2{margin:0}
.sect-right .widget .title-wrap:after{content:"";position:absolute;z-index:0;top:13px;right:0;width:100%;height:5px;background-color:$(main.bb.color)}
.sect-right .custom-widget .rcp-title a,.sect-right .PopularPosts ul li a{color:#F2F2F2}
.sect-right .recent-date{color:#999999}
.sect-right .custom-widget li{overflow:hidden;border-color:$(main.bb.color);padding:10px 0}
.sect-right .PopularPosts .widget-content ul li{border-color:$(main.bb.color)}
.sect-right .PopularPosts .widget-content ul li:first-child,.sect-right .custom-widget li:first-child{padding-top:0;border-top:0}
.sect-right .custom-widget .rcp-title a:hover,.sect-right .PopularPosts ul li a:hover{color:$(main.color)}
.sect-right .cmm-widget li{border-color:$(main.bb.color)}
.sect-right .cmm-widget a{color:#F2F2F2}
.sect-right .cmm-widget a:hover{color:$(main.color)}
.sect-right .FollowByEmail .widget-content{background-color:$(main.bb.color)}
.sect-right .FollowByEmail .follow-by-email-inner .follow-by-email-submit:hover{background:$(main.dark.color)}
.sect-right .FollowByEmail .widget-content:before{content:"Enter your email address to subscribe to this blog and receive notifications of new posts by email.";color:#F2F2F2}
.sect-right #ArchiveList select{border:1px solid $(main.bb.color);background:$(main.bb.color);color:#F2F2F2}
.sect-right #ArchiveList select option{color:#F2F2F2}
.sect-right .cloud-label-widget-content .label-size{background:$(main.bb.color)}
.sect-right .cloud-label-widget-content .label-size:hover{background:$(main.color)}
.sect-right .cloud-label-widget-content .label-size a{color:#F2F2F2}
.cloud-label-widget-content .label-size:hover span{background:$(main.dark.color)}
.sect-right .list-label-widget-content li{border-bottom:0;border-top:1px dotted $(main.bb.color)}
.sect-right .list-label-widget-content li:first-child{border-top:0;padding-top:0}
.sect-right .list-label-widget-content li a,.sect-right .list-label-widget-content li a:before{color:#F2F2F2}
.sect-right .list-label-widget-content li a:hover{color:$(main.color)}
.sect-right .list-label-widget-content li:first-child a:before{top:-6px}
.footer-wrapper{background-color:RGBA(0,0,0,0.2);color:#F2F2F2;display:block;padding:10px 0;width:100%;height:30px;overflow:hidden}
.footer-wrapper .footer-copy{margin:0 auto}
.footer-wrapper .copyleft{float:right;height:30px;line-height:30px;font-weight:500;;}
.footer-wrapper .copyleft a{color:#F2F2F2}
.footer-wrapper .copyleft a:hover{color:$(main.color)}
.native-opt{float:left}
.native-opt li{float:left;display:inline-block;list-style:none!important}
.native-opt li a{display:block;width:30px;height:30px;background-color:$(main.bb.color);text-align:center;color:#F2F2F2;line-height:30px;margin-right:10px;padding:0}
.native-opt li a:hover{background-color:$(main.color);color:#fff}
.error_page #main-wrapper{width:100%!important;margin:0!important}
.error_page #sidebar-wrapper,.error_page .status-msg-wrap{display:none}
#error-wrap{color:$(main.text.color);text-align:center;padding:60px 0 80px}
.error-item{font-size:160px;line-height:1;margin-bottom:20px}
#error-wrap h2{font-size:25px;padding:20px 0 10px}
#error-wrap .homepage{padding-top:10px;display:block}
#error-wrap .homepage i{font-size:20px}
#error-wrap .homepage:hover{text-decoration:underline}
div#ArchiveList a {
    color: #202020;
}
.img-anime .recent-boxes .box-image,.img-anime .recent-boxes .bf-thumb,.img-anime .custom-widget .rcthumb,.img-anime .PopularPosts img,.img-anime .home .block-image .thumb a,.img-anime .tc-thumb a,.img-anime .related-thumb a,.img-anime .PopularPosts .item-thumbnail a,.img-anime .cmm-img{opacity:0;transition:all 0s ease;-webkit-transition:all 0s ease;-moz-transition:all 0s ease;-o-transition:all 0s ease}
.img-anime .img-effect,.img-anime .recent-boxes .box-image.img-effect,.img-anime .recent-boxes .bf-thumb.img-effect,.img-anime .custom-widget .rcthumb.img-effect,.img-anime .PopularPosts img.img-effect,.img-anime .block-image .thumb a.img-effect,.img-anime .tc-thumb a.img-effect,.img-anime .related-thumb a.img-effect,.img-anime .PopularPosts .item-thumbnail a.img-effect,.img-anime .cmm-img.img-effect{opacity:1;transition:all .8s ease;-webkit-transition:all .8s ease;-moz-transition:all .8s ease;-o-transition:all .8s ease}


/* Multi Tab Widget */
.yalla-match{overflow:hidden;position: relative;margin-bottom: 0;}
.paging{overflow:hidden;margin-bottom:10px;border-radius:5px}
.paging .tombol{display:block;font-size:0;width:33.33%;text-align:center;float:right;line-height:45px;height:45px}
.tombol.match1{background-color:#2d2d2d;color:#fff}
.tombol.match1:before{content:'مباريات الأمس';font-size:20px}
a.tombol.match2{background-color:#a6160d;color:#fff}
.tombol.match2:before{content:'مباريات اليوم';font-size:20px}
.tombol.match3{background-color:#126ea7;color:#fff}
.tombol.match3:before{content:'مباريات الغد';font-size:20px}
#multitab_events{overflow:hidden;display:block;width:100%;background-color:#fff;float:right;margin-bottom:10px;height:45px;line-height:45px;padding:0 10px;border-radius:5px;border:1px solid #cacaca}
.alba_sports_events-event_item{overflow:hidden;width:100%;float:right;border:1px solid #cacaca;margin-bottom:10px;border-radius:5px;position: relative;background-color: #fff;}
#matches{padding:20px;text-align:center;font-size:25px;border:1px solid #adacac;width:100%;overflow:hidden;border-radius:5px;margin-bottom: 10px;background-color: #fff;}
#multitab_events h1{float:right}
#wdbloogeladate{float:left}
alba_sports_events-event_item{margin-bottom:10px;background-color:#ffffff;position:relative;overflow:hidden;border:1px solid #cacaca}
.col-md-12.col-sm-12.col-xs-12.no-padding.events-info{overflow:hidden;display:block;width:100%;background-color:#fff;float:right}
.col-md-12.col-sm-12.col-xs-12.no-padding.events-info .col-md-4.col-sm-4.col-xs-4{float:right;width:25%;text-align:center;padding:5px 0;font-size:13px}
.col-md-12.col-sm-12.col-xs-12.event_inner .col-md-4.col-sm-4.col-xs-4{width:30%;float:right;text-align:center}
.col-md-4.col-sm-4.col-xs-4.no-padding{width:40%!important}
.alba-team_logo{width:33%;float:right}
.event_mask_inner{position:absolute;right:0;top:0;width:100%;text-align:center;padding-top:40px;background-color:#000;justify-content:center;align-items:center;height:100%;background:rgba(0,0,0,.5);display:none;z-index: 999999;}
.h3.alba_sports_events-event_mask_inner_text {
    background-color: #ff2f2f;
    color: #fff;
    padding: 8px 10px;
    font-size: 15px;
    z-index: 555;
    margin: auto;
    display: table;
    border-radius: 5px;
}
.alba_sports_events-event_item:hover .event_mask_inner {
    display: none;
}
.post-share, .static_page .post-share {
    text-align: center;
    position: relative;
    overflow: hidden;
    border: 1px solid #cacaca;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: #fff;
}
ottom:5px}
.h3.alba_sports_events-event_mask_inner_text{margin-top:0!important;background-color:#a6130e;color:#fff!important;padding:5px 0;font-size:14px!important;line-height:22px;text-decoration:none;z-index:555;width:150px;margin:auto}
.alba-team_logo img{display:block;margin:20px auto 10px;height:50px;width:auto;20);border-radius:0%}
.event_title_wrapper{color:#fff;margin-top:25px;overflow:hidden;height:45px;line-height:45px}
.vent_status_inner_ended{font-size:17px;width:100%;float:right;padding:5px;line-height:30px;background-color:#313131;color:#fff!important;border-radius:5px}
.vent_status_inner_ended:hover{background-color:#126ea7!important}
.events-team_score{display:inline-block;font:22px/30px tahoma;color:#fff;width:11%;float:right;border-radius:5px;background-color:#18aaff;margin:0 7%;padding:5px;line-height:30px}
.col-md-12.col-sm-12.col-xs-12.no-padding.events-info .col-md-4.col-sm-4.col-xs-4 i{color:#f80;margin-left:3px}
.alba_sports_events-team_title{font-size:17px;width:67%;float:right;line-height:90px}


.match-center {
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 5px;
}
.match-center li a {
    display: block;
    width: 100%;
    text-align: center;
    float: right;
    line-height: 45px;
    height: 45px;
    color: #fff;
    font-size: 20px;
}
#match-center1 a {
    background-color: #2d2d2d;
}
#match-center2 a {
    background-color: #000;
}
#match-center3 a {
    background-color: #18aaff;
}

/*------Layout (No Edit)----------*/
body#layout #outer-wrapper{padding:0;width:1073px}
body#layout .row {width: 1000px;}

body#layout .section h4{margin:2px 0 8px;color:#333!important}
body#layout .ibpanel{background-color:#2c3e50!important;overflow:hidden!important;border-color:#213243!important}
body#layout .ibpanel h4{font-size:16px;padding:0;color:#fff!important}
body#layout .ibpanel .widget{float:right;width:30%;margin-left:5%}
body#layout .ibpanel #HTML902,body#layout .ibpanel #HTML905{margin-left:0}
body#layout .ibpanel .widget.locked-widget .widget-content{background-color:#34495e!important;border-color:#455668!important;color:#fff!important}
body#layout .ibpanel .widget.locked-widget .widget-content a.editlink{color:#fff!important;border:1px solid #233648;border-radius:2px;padding:0 5px;background-color:#233648}
body#layout #topnav,body#layout .tm-head{height:auto}
body#layout .tm-menu{margin:0;width:70%}
body#layout .social-area{margin:0;width:30%}
body#layout .header-content,body#layout #header-blog{height:auto;padding:0}
body#layout .header-logo{float:right;width:30%;max-width:30%;max-height:none;margin:0;padding:0}
body#layout .header-logo #header{background-color:#b57dcc!important;border-color:#8a52a1!important}
body#layout .header-ads{height:auto;width:70%}
body#layout #menu,body#layout #menu1{display:block;background-color:#6dad88;border-color:#338957}
body#layout #main-nav,body#layout .header-menu{height:auto}
body#layout .header-menu li.li-home,body#layout .header-search{display:none}
body#layout .header-menu{float:right;width:100%;margin:4px 0 0;padding:0}
body#layout #content-wrapper{margin:0 auto}
body#layout .box-sec .widget-content,body#layout .box-sec h2,body#layout #ads-blog{display:block}
body#layout #main-wrapper{float:right;width:70%;margin:0;padding:0}
body#layout .posts-title{display:none}
body#layout #sidebar-wrapper{float:left;width:30%;margin:0;padding:5px 0 0;background-color:#f8e244!important}
body#layout #sidebar-wrapper .section{background-color:#fff;border:1px solid #fff}
body#layout #sidebar-wrapper .section .draggable-widget .widget-wrap2{background-color:#5a7ea2!important}
body#layout #footer-wrapper{overflow:hidden}
body#layout .sect-right{width:26%;float:right;margin:0 1% 8px !important}
body#layout #blocked-widgets,body#layout #pop-sec,body#layout #contact{display:none!important}
body#layout #featured-sec{background-color:#f9a85f;border-color:#fb8f3d}
body#layout #featured-sec .draggable-widget .widget-wrap2{background-color:#fb8f3d!important}
body#layout #featured-sec .add_widget{border-color:#fb8f3d}
body#layout #main-wrapper #main{margin-left:4px;background-color:#5a7ea2;border-color:#34495e}
body#layout #main-wrapper #main h4{color:#fff!important}
body#layout .layout-widget-description{display:none!important}
body#layout .box-sec{background-color:#7fc1ed!important;border-color:#3498db!important}
body#layout .box-sec .draggable-widget .widget-wrap2{background-color:#3498db!important;cursor:move}
body#layout .box-sec .add_widget{border-color:#3498db}
body#layout #sidebar{margin-top:10px}
body#layout .widget-content .editlink{color:#fff!important;border:1px solid #233648;border-radius:2px;padding:0 5px;background-color:#233648}
body#layout #footer{overflow:hidden;background-color:#1abc9c;padding-top:10px;margin-bottom:10px}
body#layout #footer:before{content:"اضافات الفوتر";font-size:25px;color:#fff;padding:0 0 10px;text-align:center;display:block;font-family:raleway}
body#layout #footer .section .draggable-widget .widget-wrap2{background-color:#1abc9c!important}
body#layout #footer-sec3{margin-left:0}
body#layout #ads-content,body#layout #ads-home{background-color:rgba(241,196,16,0.22);border-color:#f1c410}
body#layout #ads-content .add_widget,body#layout #ads-home .add_widget{border-color:#f1c410!important}
body#layout #ads-content .draggable-widget .widget-wrap2,body#layout #ads-inter .draggable-widget .widget-wrap2,body#layout #ads-home .draggable-widget .widget-wrap2{background-color:#f1c410!important;cursor:move}
#layout:before {    content: 'This is the property of Rotkx.com';
font-size: 20px;
color: #999;
margin: 0 0 20px 0;
display: inline-block;
font-weight: 700;
padding: 20px;
font-family: sans-serif;
border: 4px double #FD856E;}
body#layout .native-opt li{list-style:none}

.status-msg-wrap { display: none; }



/*------Layout (end)----------*/
